@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.custom-tags-input .react-tagsinput-tag {
    background-color: #3b82f6;
    color: white;
    font-weight: 600;
    border-radius: 0.5rem;
    padding: 0.4rem 1.2rem;
    margin-left: 0rem;
    margin-bottom: 1.5rem;
    display: inline-flex;
    align-items: center;
    gap: 0.7rem;
}

.custom-tags-input .react-tagsinput-input {
    outline: none;
    margin-left: 4px;
    font-size: 1rem;
    cursor: pointer;
}